<div class="row gap-lg-0 gap-4">
  <div class="col-lg-6 col-sm-12">
    <canvas id="programmingLanguageChart" width="200" height="200"></canvas>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="table-responsive small">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Nama Repository</th>
            <th scope="col" class="text-center">Tanggal Dibuat</th>
            <th scope="col" class="text-center">Link Repository</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of repos$ | async; track: $index">
            <td>{{ item.name }}</td>
            <td class="text-center">{{ item.created_at | date }}</td>
            <td class="text-center">
              <a
                [href]="item.html_url"
                class="badge text-bg-primary text-decoration-none"
                >Go To Project</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-pagination></app-pagination>
  </div>
</div>
