<app-navbar [user]="user"/>

  <div class="container">
    <div class="row my-5 g-3 g-lg-1">
      <div class="col-lg-8 col-sm-12 text-center text-lg-start">
        <h4>Hi, Welome Back {{user?.name}} 👋</h4>
        <p>Your Analytics Github Account.</p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="row g-4">
          <div class="col-4 ">
            <div class="d-flex flex-column align-items-center align-items-lg-end">
              <small>Created At</small>
              <p>{{user?.created_at | date}}</p>
            </div>
          </div>
          <div class="col-4">
            <div class="d-flex flex-column align-items-center align-items-lg-end">
              <small>Updated At</small>
              <span>{{user?.updated_at | date}}</span>
            </div>
          </div>
          <div class="col-4">
              <a class="btn btn-info px-3 text-white py-2" routerLink="/profile">
                Update 
              </a>
          </div>
        </div>
      
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div class="col-md-4 col-sm-6">
          <app-card title="Public Repos" [total]="user?.public_repos" icon="bi bi-journal-code fs-4"/>
      </div>
      <div class="col-md-4 col-sm-6">
          <app-card title="Collaborators" [total]="user?.collaborators" icon="bi bi-people-fill fs-4"/>
      </div>
      <div class="col-md-4 col-sm-6">
          <app-card title="Private Repos" [total]="user?.total_private_repos" icon="bi bi-journal-minus fs-4"/>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <ul class="nav nav-tabs">
      <li class="nav-item"  (click)="setTab('repo')" >
        <a class="nav-link" routerLink="/dashboard/repo" [routerLinkActive]="'active'" >Repository</a>
      </li>
      <li class="nav-item"  (click)="setTab('commit')">
        <a class="nav-link" routerLink="/dashboard/commit" [routerLinkActive]="'active'" >Commit</a>
      </li>
      <li class="nav-item"  (click)="setTab('size')">
        <a class="nav-link" routerLink="/dashboard/size" [routerLinkActive]="'active'" >Size</a>
      </li>
    </ul>
  </div>

  <div class="container">
      <router-outlet/>
  </div>

  


    
